#borad {
  background-color: #372c25;
}

td {
  border: 2px solid #372c25;
  border-radius: 9px;
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  width: 70px;
  color: #684a23;
  background-color: #fbeddc;
}
